.skillsBlock {
    /*min-height: 100vh;*/
    background-color: #83a947;
    padding: 40px 0;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;


}
.title {
background-color: #938080;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    /*padding: 40px 0;*/
}
