.mainBlock {
    height: 100vh;
    background-color: #d0999f;
}

.text {
    width: 300px;
    background-color: #d7c7c7;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #d7c7c7;
}
