.projectsBlock {
    /*height: 100vh;*/
    background-color: #90719a;
    padding: 40px 0;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;


}
.title {
background-color: #938080;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
